/* nav-hamburguesa */

.navbar{
    color: white;
    position: relative;
}

.checkbox, .icons {
    position: absolute;
    top: 10px;
    right: 12px;
    bottom: 3px;
    width: 24px;
    height: 24px;
}

.icons{
    pointer-events: none;
    font-size: 24px;
}

.checkbox{
    opacity: 0;
}

.fi-br-cross{
    display: none;
}

.checkbox:checked ~ .fi-br-menu-burger {
    display: none;
}

.checkbox:checked ~ .fi-br-cross{
    display: block;
}

.menu{
    display:block;
    width: 180px;
    position: absolute;
    top: -300px;
    right: 0px;

    transition: 350ms;
}

@media screen and (max-width: 500px) {
    
.menu li a {
    display:block;
    padding: 7px 140px;
    background-color: rgba(0, 0, 0, 0.904);
    text-align: center;
    
}

.menu li a:hover {
    background-color: rgba(27, 27, 27, 0.76);
}

}

.checkbox:checked ~ .menu{
    top: 48px;
}

@media (min-width: 560px) {
    .checkbox, .fi-br-menu-burger, .fi-br-cross {
        display: none;
    }
}

@media (min-width: 1024px){
.menu {
    top: 0;
    width: unset;
    display: flex;
    text-align: center;
}
}

.menu li nav {
    padding: 10px 12px 6px;
}



/* color,tamaño de elementos */

.display-3 {
    display: block;
    margin-right: 0%;
    margin-bottom: -1%;
    margin-top: -2.5%;
   

}

.display-4 {
    font-size: small;
    color: black;
}

body div h1{
        color: rgb(255, 255, 255);
        font-size: 20px;
}

header nav ul li{
list-style: none;

}

header nav ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 15px;
}

p{
    color: rgb(255, 255, 255);
}

body div h1 {
display: none;
}

footer h1 {
    display: none;
}

.index_title {
    display: none;
}

.proyectos_a {
    display: none;
}

footer h2 a{
    text-decoration: none;
    color: rgb(252, 252, 252);
    font-size: small;
}

.acerca_title{
    color: rgb(255, 255, 255);
    text-align: center;
}

body p{
    color: rgb(255, 255, 255);
}

.frase_contacto {
    color: rgb(255, 255, 255);
}

h2{
    color: rgb(255, 255, 255);
}

body{
    background-color: rgb(0, 0, 0);
}


footer{
    background-color: rgb(241, 240, 221);
    justify-content: center;
    margin-bottom: -1%;
}



.fondo_index{
    background-image:url(../img/fondoindex/fondoindex.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}

.info_contact {
    padding: 0cm;
    background-color: #161616;
    color:rgb(255, 255, 255);
}

.logo_small {
        margin-top: 3%;
        margin-left: 3%;
}

/* posicionamiento de objetos grales. */

header nav ul {
    display: flex;
    justify-content: space-evenly;
    gap: 150px;
    margin-right: 150px;
    margin-top: 3%;
}

main {

justify-content: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_positions {
    justify-content:center;

}

.thing {
    margin: 1%;
}

.footer_positions2 {
    display: block;
    margin-left: 40%;

}

/* estructuracion de index */

.logo_inicial {
display: block;
margin: auto;
margin-bottom: 12%;
margin-top: 15%;
}

.iso {
    margin-top: 2.5%;
    margin-left: 3%;
}


/* estructuracion de ada */

.display-2 {
    text-align: justify;
    margin: 5%;
    font-size: medium;
    color: white;
    font-size: 95%;
}

.ada {
    display: block;
    margin: auto;
    text-align: center;
    margin-bottom: -2%;
    font-size: 10%;
    }

    .ada_img{
    margin-top: 2%;
    width: 100%;
    height: 100%;
    }


/* estructuracion de servicios */

.serv_n {
    display: none;
}


body section {
    display: flex;
}

.display-5 {
    display: flex;
    text-align: justify;
    margin-top: 50px;
    font-size: 85%;
}
 
.text_serv {
    margin: 40px;
}

.text_servfix {
    margin: 40px;

}


.serv_subs {
    display: block;
    text-align:left;
    font-size: larger;
    position:relative;
    left: 14%;
}

.serv_subsfix {
    display: block;
    text-align:left;
    font-size: larger;
    margin-left: 7%;

}



/* estructuracion de proyectos */

.aside {
    display: flex;
}

.proyectos_title {
    display: none;
}

.proyecto_main {
    margin-top: 2%;
}

.display-1 {
    text-align: justify;
    margin: 40px;
    font-size: 92%;
    font-weight: lighter;
}

.display-6 {
display: block;
margin-left: 5%;
margin-top: 3%;
margin: 5%;
color: white;
}


/* estructuracion de contactos */

.frase_contacto{
    display: inline;
}
.info_contact {
    display: block;
}


/* formato mobile */

@media screen and (max-width: 500px) {
body {
display: block;
}

.iso{
    width: 15%;
    height: 15%;
    margin-top: 9%
}
.logo_inicial{
    width: 70%;
    height: 70%;
    margin-top: 40%;
    margin-bottom: 70%;
}

footer {
    width: 100%;
    height: 100%;
}
}


@media screen and (max-width: 500px) {

    .ada_img {
        width: 100%;
        height: 20%;
    }

    main h1 {
        text-align: center;
    }

    .display-6{
        font-size: 140%;
    }

    .display-2 {
    font-size: 80%;
    }

    .display-4{
        justify-content:left;
    }

   .img_serv {
    width: 100%;
   }

   .img_proy{
    width: 100%;
    height: 100%;
   }
   .row{
    display: block;
   }

}

@media screen and (max-width:500px) {
    .invert_col {
        display: none !important;
       }

      .img_proy{
        width: 100%;
      } 
    .img_serv{
width: 100%;
height: 100%;
}

}

@media screen and (min-width:1024px) {
    .norm_col {
        display: none;
    }

    .img_proy{
        width: 103.6%;
      } 
}
