/* color,tamaño de elementos */

.display-3 {
    display: block;
    margin-right: 6%;
    margin-bottom: -1%;
    margin-top: -2.5%;
   

}

.display-4 {
    font-size: small;
}

body div h1{
        color: rgb(255, 255, 255);
        font-size: 20px;
}

header nav ul li{
list-style: none;

}

header nav ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 15px;
}

p{
    color: rgb(255, 255, 255);
}

body div h1 {
display: none;
}

footer h1 {
    display: none;
}

.index_title {
    display: none;
}

.proyectos_a {
    display: none;
}

footer h2 a{
    text-decoration: none;
    color: rgb(252, 252, 252);
    font-size: small;
}

.acerca_title{
    color: rgb(255, 255, 255);
    text-align: center;
}

body p{
    color: rgb(255, 255, 255);
}

.frase_contacto {
    color: rgb(255, 255, 255);
}

h2{
    color: rgb(255, 255, 255);
}

body{
    background-color: rgb(0, 0, 0);
}


footer{
    background-color: rgb(160, 160, 160);
    justify-content: center;
}



.fondo_index{
    background-image:url(../img/fondoindex/fondoindex.jpg);
    background-repeat: no-repeat;
    background-size: auto;
}

.info_contact {
    padding: 0cm;
    background-color: #161616;
    color:rgb(255, 255, 255);
}

.logo_small {
        margin-top: 3%;
        margin-left: 2%;
}

/* posicionamiento de objetos grales. */

header nav ul {
    display: flex;
    justify-content: space-evenly;
    gap: 150px;
    margin-right: 150px;
    margin-top: 3%;
}

main {

justify-content: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_positions {
    justify-content:center;

}

.thing {
    margin: 1%;
}

.footer_positions2 {
    display: block;
    margin-left: 40%;

}


/* estructuracion de index */

.logo_inicial {
display: block;
margin: auto;
margin-bottom: 12%;
margin-top: 15%;
}

.iso {
    margin-top: 2%;
    margin-left: 2%;
}

/* estructuracion de ada */

.display-2 {
    text-align: justify;
    margin: 5%;
    font-size: medium;
    color: white;
    font-size: 110%;
}

.ada {
    display: block;
    margin: auto;
    text-align: center;
    margin-top: 2%;
    margin-bottom: -2%;
    font-size: 10%;
    }



/* estructuracion de servicios */

body section {
    display: flex;
}

.display-5 {
    display: flex;
    text-align: justify;
    margin-top: 50px;
    font-size: 100%;
}
 
.text_serv {
    margin: 40px;
}

.text_servfix {
    margin: 45px;

}
.img_serv {
    display: block;
    margin: auto;
}

.serv_subs {
    display: block;
    text-align:left;
    font-size: larger;
    position:relative;
    left: 14%;
}

.serv_subsfix {
    display: block;
    text-align:left;
    font-size: larger;
    margin-left: 7%;

}



/* estructuracion de proyectos */

.aside {
    display: flex;
}

.proyectos_title {
    display: none;
}

.proyecto_main {
    margin-top: 2%;
}

.display-1 {
    text-align: justify;
    margin: 40px;
    font-size: 98%;
    font-weight: lighter;
}

.display-6 {
display: block;
margin-left: 5%;
margin-top: 3%;
margin: 5%;
color: white;
}

/* estructuracion de contactos */

.frase_contacto{
    display: inline;
}
.info_contact {
    display: block;
}


/* formato mobile */

