body{
    .proyecto_main{
        margin-top: 2%;
        .proyectos_title{
            display: none;
            .row{
               .col{

                  .display-6{
                    display: block;
                    margin-left: 5%;
                    margin-top: 3%;
                    margin: 5%;
                    color: white;

                 }

                 .display-1{
                    text-align: justify;
                    margin: 40px;
                    font-size: 92%;
                    font-weight: lighter;
                 }

                }


            }

        }

        .invert_col{
            .row{
                .col{
                    .display-6{
                        display: block;
                        margin-left: 5%;
                        margin-top: 3%;
                        margin: 5%;
                        color: white;

                    }

                    .display-1{
                        text-align: justify;
                        margin: 40px;
                        font-size: 92%;
                        font-weight: lighter;
                    }
                }

            }
            
        }
    }
}