.bodyproyectos {
    .proyecto_main {
        margin-top: -0.5%;
        margin-bottom: -13%;

        .proyectos_title {
            display: none;
        }

        .row {
            .col {
                display: block;


                h2 {
                    margin-top: 7%;
                    margin-bottom: 10%;
                    justify-content: start;
                    color: white;
                    font-size: 250%;

                }


                .display-1 {
                    text-align: justify;
                    margin: 40px;
                    margin-top: -6.4%;
                    font-size: 85%;
                    font-weight: lighter;
                    line-height: 180%;
                }

                .display-6 {
                    text-align: center;
                    font-weight: lighter !important;
                }
            }
        }
    }
}





@media (min-width: 501px) {


    .anular_bigscreen {
        display: none;
    }


    .marx_col {
        display: flex
    }


    .carousel_marx {

        margin-top: 0.1%;
        width: 100%;
    }


    .carousel_ama {
        width: 102%;
    }


    .carousel_casa {
        width: 101.4%;
        margin-left: -1.5%;
    }


    .mod_col {
        width: 50%;
    }


    .marx_fix {
        display: inline;
        font-size: 50%;
        width: 30%;
    }

    .sec2b {
        display: none;
    }


}


@media (max-width: 500px) {


    .sec2b {
        display: block !important;

        .replace {
            text-align: center;
            margin-top: 10%;
            color: white !important;
            font-size: 200%;
            font-weight: lighter;


        }

        .display-6 {
            display: none;
        }

        .display-1 {
            font-size: 13px;
            text-align: justify;
            margin: 10%;
            line-height: 180%;
        }

    }


    .sec2 {
        display: none;
    }



}