body{
    .display-5{
        display: flex;
        text-align: justify;
        margin-top: 50px;
        font-size: 85%;
        .serv_n{
            display: none;

        }
        .row{
            .col{
                .serv_subs{
                    display: block;
                    text-align:left;
                    font-size: larger;
                    position:relative;
                    left: 14%;

                }

                .text_servfix{
                    margin: 40px;

                }
                
            }
        }

    }
    section{
        
        display:flex;
    }
}


